extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main 
    +alert-error(5000)
    h1(class="mb-4") Thêm mới sản phẩmm
    form(
        action=`${prefixAdmin}/products/create`
        id="form-create-product"
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
            )
        div(class="form-group")
            label(for="product-category_id") Danh mục cha 
            select(
                name="product-category_id"
                id="product-category_id"
                class="form-control"
            )
                option(value="") -- Chọn danh mục cha --
                if(category) 
                    +select-tree(category)
                //- required // cái này ở trên trong class tiêu đề
        div(class="form-group form-group-check form-group-inline")
            input(
                type="radio"
                class="form-check-input"
                id="deatured1"
                name="featured"
                value="1"
            )
            label(for="featred1" class="form-check-label") Nổi bật
        div(class="form-group form-group-check form-group-inline")
            input(
                type="radio"
                class="form-check-input"
                id="deatured0"
                name="featured"
                value="0"
                checked
            )
            label(for="featred0" class="form-check-label") Không
        div(class="form-group")
            label(form="desc") Mô tả
            textarea(
                class="form-control textarea-mce"
                id="desc"
                name="description"
                rows="5"
            ) 
        div(class="form-group")
            label(form="price") Giá
            input(
                type="number"
                class="form-control"
                id="price"
                name="price"
                value="0"
                min="0"
            )
        div(class="form-group")
            label(form="discount") % Giảm giá
            input(
                type="number"
                class="form-control"
                id="discount"
                name="discountPercentage"
                value="0"
                min="0"
            )
        div(class="form-group")
            label(form="stock") Số lượng 
            input(
                type="number"
                class="form-control"
                id="stock"
                name="stock"
                value="0"
                min="0"
            )
        div(
            class="form-group form-group-img"
            upload-image
        )
            label(form="thumbnail") Ảnh
            input(
                type="file"
                class="form-control-file form-group-img" 
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            img(
                class="form-group-img"
                src=""
                upload-image-preview
            )
            button(
                type="submit"
                class="clear-button"
            ) X
        //- class="form-control form-control-file"
        div(class="form-group")
            label(form="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placholder="Tự động tăng"
                min="1"
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked
            )
            label(for="statusActive" class="form-check-label")  Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked
            )
            label(for="statusInActive" class="form-check-label")  Dừng hoạt động

        
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới
    script(src="/admin/js/product.js")

    //- 1h