extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-success(5000)
    +alert-error(5000)
    h1(class="mb-4") Chỉnh sửa sản phẩm
    form(
        action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
        id="form-edit-product"
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=product.title
            )
                //- required // cái này ở trên trong class tiêu đề
        div(class="form-group")
            label(form="desc") Mô tả
            textarea(
                class="form-control"
                id="desc"
                name="description"
                rows="5"
                value=product.description
            ) #{product.description}

        div(class="form-group form-check form-group-inline")
            input(
                type="radio"
                class="form-check-input"
                id="deatured1"
                name="featured"
                value="1"
                checked=(product.featured == "1" ? true : false)
            )
            label(for="featred1" class="form-check-label") Nổi bật

        div(class="form-group form-check form-group-inline")
            input(
                type="radio"
                class="form-check-input"
                id="deatured0"
                name="featured"
                value="0"
                checked=(product.featured == "0" ? true : false)
            )
            label(for="featred0" class="form-check-label") Không

        div(class="form-group")
            label(form="price") Giá
            input(
                type="number"
                class="form-control"
                id="price"
                name="price"
                min="0"
                value=product.price
            )
        div(class="form-group")
            label(form="discount") % Giảm giá
            input(
                type="number"
                class="form-control"
                id="discount"
                name="discountPercentage"
                value=product.discountPercentage
                min="0"
            )
        div(class="form-group")
            label(form="stock") Số lượng 
            input(
                type="number"
                class="form-control"
                id="stock"
                name="stock"
                value=product.stock
                min="0"
            )
        div(
            class="form-group form-group-img"
            upload-image
        )
            label(form="thumbnail") Ảnh
            input(
                type="file"
                class="form-control-file form-group-img" 
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            img(
                class="form-group-img"
                src=product.thumbnail
                upload-image-preview
            )
            button(
                type="submit"
                class="clear-button"
            ) X
        //- class="form-control form-control-file"
        
        div(class="form-group")
            label(form="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placholder="Tự động tăng"
                value=product.position
                min="1"
            )
        
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(product.status == "active" ? true : false)
            )
            label(for="statusActive" class="form-check-label")  Hoạt động
        
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(product.status == "inactive" ? true : false)
            )
            label(for="statusInActive" class="form-check-label")  Dừng hoạt động

        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật
    script(src="/admin/js/product.js")