extends ../../layouts/default.pug
include ../../mixins/sort.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/table-tree.pug
block main  
    if(role.permissions.includes("products-category_view"))
        .card.mb-3 
            .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    //- .col-6
                    //-     //- tách ra dạng mixin ở trang filter-status
                    //-     +filter-status(filterStatus)
                    .col-6 
                        //- tách ra dạng mixin ở trang search
                        +search(keyword)
        .card.mb-3 
            .card-header Sắp xếp
            .card-body 
                .row 
                    .col-4 
                        +sort()
        .card.mb-3 
            .card-header Danh sách
            .card-body
                .row 
                    .col-8.split 
                        .col-8 
                            +form-change-multi(`${prefixAdmin}/products-category/change-multi?_method=PATCH`) 
                        .col-4 
                            a(
                                href=`${prefixAdmin}/products-category/create`
                                class="btn btn-outline-success"
                            ) + Thêm mới

                table(
                    class="table table-hover table-sm"
                    checkbox-multi
                )
                    thead 
                        tr 
                            th 
                                input(type="checkbox" name="checkall")
                            th STT 
                            th Hình ảnh
                            th Tiêu đề 
                            th Vị trí 
                            th Trạng thái
                            th Hành động

                    tbody 
                        +table-tree(records)

        form(
            action=""
            method="POST" 
            id="form-delete-item"
            data-path=`${prefixAdmin}/products-category/delete`
        )                  
        script(src="/admin/js/products-category.js")
        //- _id//- title//- parent_id//- description //- thumbnail//- status 
        //- position //- deleted //- deletedAt //- createdAt //- updatedAt//- slug 
    
